/* ----------------- General CSS ----------------- */
body {
    background-image: url("assets/images/jan-gottweiss-1576476-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

a:hover {
    cursor: pointer;
}

.fa {
    color: #fff;
    font-size: 22pt;
}


/* ----------------- Welcome Page CSS ----------------- */
#welcome-page-padding {
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 50px;
    height: 1000px;
}

form {
    background-color: #fff;
    padding: 40px;
}

#welcome {
    margin-top: 200px;
}


/* ----------------- Trail Home Page CSS ----------------- */

/* Featured Image CSS */
#featured-image {
    background-image: url("assets/images/kaitlin-muro-438763-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#navbarToggleExternalContent {
    margin-top: 50px;
}

#search-form {
    padding-top: 200px;
}

#page-content {
    margin-top: 100px;
    padding-bottom: 100px;
}

/* Card CSS */
.card:hover {
    cursor: pointer;
}

.card-select {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 15px;
    height: 50px;
    width: 50px;
}

.icon-select {
    color: black;
    font-size: 30pt;
    margin-top: 10px;
}

.icon-select:hover {
    color: yellow;
}

.trail-difficulty {
    width: 20px;
}

/* Modal CSS */
.modal h5 {
    margin-left: 50px;
}